/* src/styles/Admin.css */
.admin-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    align-self: center;
  }
  
  .admin-section {
    margin-top: 20px;
  }
  
  .admin-section:first-child {
    margin-top: 0;
  }
  