/* src/styles/RemoveBook.module.css */

.removeBookContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.bookList {
  list-style: none;
  padding: 0;
}

.bookItem {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.bookImage {
  width: 200px; 
  height: fit-content; 
  margin-right: 20px;
  border-radius: 6px;
}

.bookDetails {
  flex-grow: 1;
}

.bookTitle {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.bookAuthor {
  
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.deleteButton {
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: #cc0000;
}
