/* src/styles.css */
nav {
    display: flex;
    justify-content:space-evenly;
    padding: 10px;
    background-color: #f8f9fa;
  }
  
  nav a, nav button {
    
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
  }
  
  nav button {
    border: none;
    background: none;
    color: #007bff;
    cursor: pointer;
  }
  
  nav button:hover, nav a:hover {
    text-decoration: underline;
  }
  